# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# css map
kyowon-encyclopedia/assets/css/map
kyowon-encyclopedia/assets/guide/map
kyowon-smart-redpen/assets/css/map
kyowon-smart-redpen/assets/guide/map
north-korea-support/assets/css/map
north-korea-support/guide/map
north-korea-support/guide/portfolio.css