@charset "UTF-8";
/*! guide.css © inyoung, 2017.07.20 */
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, figure, legend, input, textarea, button, p, blockquote, th, td, form, fieldset, blockquote, iframe { margin: 0; padding: 0; -moz-text-size-adjust: none; -ms-text-size-adjust: none; -webkit-text-size-adjust: none; text-size-adjust: none; }

article, aside, canvas, details, embed, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

command, datalist, keygen, mark, meter, progress, rp, rt, ruby, time, wbr { display: inline; }

img { vertical-align: top; border: 0; }

fieldset { border: 0; }

ul, ol, li { list-style: none; }

hr { display: none; border: 0; }

pre { white-space: pre-wrap; }

legend, caption { display: none; clear: both; }

a { color: inherit; cursor: pointer; }

a:link { text-decoration: none; }

a:hover, a:focus, a:active { text-decoration: none; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; word-break: keep-all; }

em, i, address, cite { font-style: normal; font-weight: normal; }

input, textarea, select, button, table { font-size: inherit; font-family: inherit; *font-size: inherit; border: 0; background-color: transparent; }

button, select { cursor: pointer; }

textarea, input, select { -webkit-border-radius: 0; -ms-border-radius: 0; -moz-border-radius: 0; border-radius: 0; border: 0; outline-color: -moz-use-text-color; outline-style: none; outline-width: medium; }

textarea { resize: none; }

label { cursor: pointer; }

table { table-layout: fixed; border-collapse: collapse; border-spacing: 0; }

th, td { border-collapse: collapse; }

input[type="reset"], input[type="button"], input[type="submit"] { line-height: normal !important; }

progress[value] { appearance: none; -moz-appearance: none; -webkit-appearance: none; display: inline-block; border: none; background-size: auto; }

progress[value][role][aria-valuenow] { appearance: none; -moz-appearance: none; -webkit-appearance: none; display: inline-block; border: none; background-size: auto; }

progress[value][role][aria-valuenow]:after { background-image: none; }

progress[value][role][aria-valuenow]:before { display: table; }

progress[value][role][aria-valuenow] strong { display: none; }

progress[value]::-webkit-progress-value, progress[value]::-webkit-progress-inner-element { display: table; }

progress[value]::-webkit-progress-bar { display: table-cell; }

progress[value]::-moz-progress-bar, progress[value]::-webkit-progress-value { display: table; }

textarea { color: inherit; }

input[type="button"], input[type="text"], input[type="image"], input[type="submit"] { -webkit-appearance: none; -webkit-border-radius: 0; }

input:checked[type="checkbox"] { background-color: #fff; -webkit-appearance: checkbox; }

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill { -webkit-text-fill-color: inherit; -webkit-box-shadow: 0 0 0px 1000px white inset; }

input { color: inherit; }

input::-webkit-input-placeholder { /* Chrome/Opera/Safari*/ color: inherit; }

input::-moz-placeholder { /* Firefox 19+*/ color: inherit; }

input:-ms-input-placeholder { /* IE 10+*/ color: inherit !important; }

input:-moz-placeholder { /* Firefox 18-*/ color: inherit; }

html { font-size: 10px; }

body { font-family: 'Noto Sans Korean', sans-serif, serif; font-size: 1.4rem; line-height: 1.5; height: 100vh; background: #ededed; }

body * { box-sizing: border-box; word-wrap: break-word; }

.guide { margin-bottom: 0; }

.guide h1, .guide h2, .guide h3, .guide h4, .guide h5, .guide h6 { margin-bottom: 2rem; }

.wrap { min-width: 480px; max-width: 1000px; padding: 20px; margin: 0 auto; padding: 2.4rem; }

.wrap article .title { font-size: 2.8rem; font-weight: bold; color: #1566c1; letter-spacing: -0.03em; }

.wrap article .title:before { content: "\f013"; font-family: FontAwesome; font-size: 2rem; color: #1566c1; padding-right: 1rem; vertical-align: text-bottom; }

.wrap .all-link { width: 100%; float: left; margin-left: 0; margin-right: 0; margin-top: 2rem; }

.wrap .all-link .location { padding: 2rem 2rem 1.4rem 2rem; border: 1px solid #ddd; margin-bottom: 2rem; background: #fff; }

.wrap .all-link .location .link { line-height: 2.4rem; letter-spacing: -0.03em; }

.wrap .all-link .location .link.check:before { content: "\f00c"; color: #e51d68; }

.wrap .all-link .location .link:before { content: "\f0c1"; font-family: FontAwesome; font-size: 1rem; color: #ccc; padding-right: 0.5rem; vertical-align: top; }

.wrap .all-link .location .link a { color: #333; display: inline-block; }

.wrap .all-link .location .link a > span { display: inline-block; color: #e51d68; margin-left: 4px; margin-bottom: 0; }

.wrap .all-link .location .link span { font-size: 1.2rem; color: #aaa; letter-spacing: 0.05em; display: block; margin-left: 20px; margin-bottom: 6px; }

.wrap .all-link .location .link span:before { content: "("; }

.wrap .all-link .location .link span:after { content: ")"; }

/*# sourceMappingURL=map/guide.css.map */
