@charset "UTF-8";
/*! jiy-common.css v1.0.0 © inyoung524@naver.com, 2017.09.26 */
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, figure, legend, input, textarea, button, p, blockquote, th, td, form, fieldset, blockquote, iframe { margin: 0; padding: 0; -moz-text-size-adjust: none; -ms-text-size-adjust: none; -webkit-text-size-adjust: none; text-size-adjust: none; }

article, aside, canvas, details, embed, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

command, datalist, keygen, mark, meter, progress, rp, rt, ruby, time, wbr { display: inline; }

img { vertical-align: top; border: 0; }

fieldset { border: 0; }

ul, ol, li { list-style: none; }

hr { display: none; border: 0; }

pre { white-space: pre-wrap; }

legend, caption { display: none; clear: both; }

a { color: inherit; cursor: pointer; }

a:link { text-decoration: none; }

a:hover, a:focus, a:active { text-decoration: none; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; word-break: keep-all; }

em, i, address, cite { font-style: normal; font-weight: normal; }

input, textarea, select, button, table { font-size: inherit; font-family: inherit; *font-size: inherit; border: 0; background-color: transparent; }

button, select { cursor: pointer; }

textarea, input, select { -webkit-border-radius: 0; -ms-border-radius: 0; -moz-border-radius: 0; border-radius: 0; border: 0; outline-color: -moz-use-text-color; outline-style: none; outline-width: medium; }

textarea { resize: none; }

label { cursor: pointer; }

table { table-layout: fixed; border-collapse: collapse; border-spacing: 0; }

th, td { border-collapse: collapse; }

progress[value] { appearance: none; -moz-appearance: none; -webkit-appearance: none; display: inline-block; border: none; background-size: auto; }

progress[value][role][aria-valuenow] { appearance: none; -moz-appearance: none; -webkit-appearance: none; display: inline-block; border: none; background-size: auto; }

progress[value][role][aria-valuenow]:after { background-image: none; }

progress[value][role][aria-valuenow]:before { display: table; }

progress[value][role][aria-valuenow] strong { display: none; }

progress[value]::-webkit-progress-value, progress[value]::-webkit-progress-inner-element { display: table; }

progress[value]::-webkit-progress-bar { display: table-cell; }

progress[value]::-moz-progress-bar, progress[value]::-webkit-progress-value { display: table; }

textarea { color: inherit; }

textarea:focus::-webkit-input-placeholder { /* WebKit browsers */ color: transparent; }

textarea:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color: transparent; }

textarea:focus::-moz-placeholder { /* Mozilla Firefox 19+ */ color: transparent; }

textarea:focus:-ms-input-placeholder { /* Internet Explorer 10+ */ color: transparent; }

input[type="reset"], input[type="button"], input[type="submit"] { line-height: normal !important; }

input[type="button"], input[type="text"], input[type="image"], input[type="submit"] { -webkit-appearance: none; -webkit-border-radius: 0; }

input:checked[type="checkbox"] { background-color: #fff; -webkit-appearance: checkbox; }

input { color: inherit; }

input::-webkit-input-placeholder { /* Chrome/Opera/Safari*/ color: inherit; }

input::-moz-placeholder { /* Firefox 19+*/ color: inherit; }

input:-ms-input-placeholder { /* IE 10+*/ color: inherit !important; }

input:-moz-placeholder { /* Firefox 18-*/ color: inherit; }

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill { -webkit-text-fill-color: inherit; -webkit-box-shadow: 0 0 0px 1000px white inset; }

input[type="date"]::-webkit-clear-button { display: none; }

input[type="date"]::-webkit-inner-spin-button { display: none; }

input[type="date"]::-webkit-calendar-picker-indicator { color: #343434; background: #fff; }

input[type="date"] { appearance: none; -webkit-appearance: none; display: inline-block !important; visibility: visible !important; }

input[type="date"], input focus { box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; }

@media print { code[class*="language-"], pre[class*="language-"] { text-shadow: none; }
  html * { color: #000; background: #fff; } }

.checkbox-type input, .radio-type input { position: absolute; cursor: pointer; opacity: 0; }

.checkbox-type input + label, .radio-type input + label { position: relative; padding-left: 22px; }

.checkbox-type input + label:before, .radio-type input + label:before { position: absolute; top: 2px; left: 0; display: inline-block; content: ''; text-align: center; width: 14px; height: 14px; border: 1px solid #dbdbdb; background: #fff; }

.checkbox-type input:focus + label:before, .radio-type input:focus + label:before { outline: none; border-color: #002847; }

.checkbox-type input:checked + label:before, .radio-type input:checked + label:before { color: #002847; border-color: #002847; }

.checkbox-type input[type="checkbox"] + label:before, .radio-type input[type="checkbox"] + label:before { font-size: 18px; line-height: 1; transition: all 0.1s ease; }

.checkbox-type input[type="checkbox"]:checked + label:before, .radio-type input[type="checkbox"]:checked + label:before { font-size: 13px; line-height: 1.2; font-family: 'FontAwesome'; content: "\f00c"; }

.radio-type input[type="radio"] + label:before { border-radius: 100%; transition: all 0.3s ease; }

.radio-type input[type="radio"]:checked + label:before { background-color: #002847; box-shadow: inset 0 0 0 3px #fff; }

.gnb-area, .gnb-area .gnb #gnb-menu, .gnb-area .gnb #gnb-menu li a, #gnb-all-menu .wrap, .paging, .header, #container, .content-box-area .align-area, .all-pages-view, .input-type.tel, .gallery, .tablist { *zoom: 1; }

.gnb-area:before, .gnb-area .gnb #gnb-menu:before, .gnb-area .gnb #gnb-menu li a:before, #gnb-all-menu .wrap:before, .paging:before, .header:before, #container:before, .content-box-area .align-area:before, .all-pages-view:before, .input-type.tel:before, .gallery:before, .tablist:before, .gnb-area:after, .gnb-area .gnb #gnb-menu:after, .gnb-area .gnb #gnb-menu li a:after, #gnb-all-menu .wrap:after, .paging:after, .header:after, #container:after, .content-box-area .align-area:after, .all-pages-view:after, .input-type.tel:after, .gallery:after, .tablist:after { content: ""; display: table; }

.gnb-area:after, .gnb-area .gnb #gnb-menu:after, .gnb-area .gnb #gnb-menu li a:after, #gnb-all-menu .wrap:after, .paging:after, .header:after, #container:after, .content-box-area .align-area:after, .all-pages-view:after, .input-type.tel:after, .gallery:after, .tablist:after { clear: both; }

.search-area .input-type label span { position: absolute; left: -9999px; visibility: hidden; }

.search-area li .btn-lookup { display: inline-block; min-width: 66px; height: 30px; line-height: 28px; text-align: center; padding: 0 10px; border-radius: 3px; }

.search-area li .btn-lookup { font-size: 14px; color: #fff; text-shadow: 0 0 1px #344450; border: 1px solid #394a57; background: #394a57; }

.search-area li .btn-lookup:hover, .search-area li .btn-lookup:focus, .search-area li .btn-lookup:active { border-color: #33434e; background: #33434e; transition: all .3s ease; }

h2, h3, h4 { font-weight: bold; }

h2 { font-size: 28px; font-size: 2.8rem; }

h3 { font-size: 24px; font-size: 2.4rem; }

h4 { font-size: 18px; font-size: 1.8rem; }

h5 { font-size: 22px; font-size: 2.2rem; }

h6 { font-size: 16px; font-size: 1.6rem; }

/* =======================================*/
/* Carousel Style
/* =======================================*/
.readable-hidden { overflow: hidden; position: absolute; top: auto; left: -100000px; width: 1px; height: 1px; }

.ui-carousel { position: relative; width: 100%; height: 400px; overflow: hidden; }

.ui-carousel .ui-carousel__tablist--wrapper { position: absolute; left: 50%; -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); transform: translateX(-50%); bottom: 20px; z-index: 100; }

.ui-carousel .ui-carousel__tablist--wrapper .ui-carousel__indicators { float: left; }

.ui-carousel .ui-carousel__tablist--wrapper .ui-carousel__indicators li { float: left; }

.ui-carousel .ui-carousel__tabpanel-wrapper { position: relative; width: 100vw; height: 400px; }

.ui-carousel .ui-carousel__tabpanel-wrapper:after { content: ''; display: block; clear: both; }

.ui-carousel__tabpanel { position: relative; float: left; width: 100vw; overflow: hidden; }

.ui-carousel__tabpanel > a { display: block; }

.ui-carousel__tabpanel > a img { vertical-align: middle; object-fit: cover; }

.ui-carousel__toggle--animate { position: relative; float: left; width: 18px; height: 18px; color: #333; margin-top: -5px; margin-right: 5px; border-radius: 50%; background: #fff; box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.6); }

.ui-carousel__toggle--animate:hover, .ui-carousel__toggle--animate:focus { background: #eaeaea; transform: scale(1.3); }

.ui-carousel__toggle--animate::before { position: absolute; top: 50%; left: 50%; -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); font-family: 'FontAwesome'; content: ""; font-size: 10px; font-size: 1rem; padding-left: 2px; }

.ui-carousel__toggle--animate.is-play::before { font-family: 'FontAwesome'; content: ""; font-size: 10px; font-size: 1rem; padding-left: 0; }

.ui-carousel__tab { display: block; width: 10px; height: 10px; margin-left: 5px; margin-right: 5px; border-radius: 5px; background: #fff; box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3); transition: all 0.2s cubic-bezier(0.01, 0.35, 0, 1.01); }

.ui-carousel__tab:hover, .ui-carousel__tab:focus { background: #eaeaea; transform: scale(1.3); }

.ui-carousel__tab.active { background: #003964; width: 24px; }

.ui-carousel__tab.active:hover { cursor: default; }

.ui-carousel__tab.active:focus { background: #003964; }

.ui-carousel__button { position: absolute; top: 50%; width: 24px; height: 46px; margin-top: -23px; transition: all 0.2s ease; cursor: pointer; }

.ui-carousel__button:hover, .ui-carousel__button:focus { text-shadow: 1px 1px 3px 0px rgba(255, 255, 255, 0.8); }

.ui-carousel__button.ui-carousel__button--prev { left: 0; }

.ui-carousel__button.ui-carousel__button--prev:before { font-family: 'FontAwesome'; content: ""; font-size: 16px; font-size: 1.6rem; }

.ui-carousel__button.ui-carousel__button--next { right: 0; }

.ui-carousel__button.ui-carousel__button--next:before { font-family: 'FontAwesome'; content: ""; font-size: 16px; font-size: 1.6rem; }

/* =======================================*/
/* GNB 영역
/* =======================================*/
.gnb-area .logo { float: left; margin-top: 10px; }

.gnb-area .gnb { float: right; height: 72px; }

.gnb-area .gnb #gnb-menu { float: left; }

.gnb-area .gnb #gnb-menu li { display: inline-block; line-height: 72px; }

.gnb-area .gnb #gnb-menu li a { display: block; font-size: 16px; font-weight: bold; padding: 0 26px; }

.gnb-area .gnb .btn-gnb-all { float: right; width: 24px; height: 19px; margin-top: 26px; text-indent: -9999px; background: url("../../assets/images/common/btn-gnb-all.svg") no-repeat; outline: 0; }

#gnb-all-menu { position: absolute; top: 100px; left: 0; right: 0; height: 0; background: linear-gradient(#475b6b 46px, #fff 46px); box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15); visibility: hidden; overflow: hidden; transition: visibility .3s, height .3s; }

#gnb-all-menu.open { visibility: visible; height: 564px; z-index: 1000; }

#gnb-all-menu .wrap { position: relative; }

#gnb-all-menu .wrap .panel { float: left; width: 200px; }

#gnb-all-menu .wrap .panel h2 { position: relative; font-weight: normal; background: #475b6b; }

#gnb-all-menu .wrap .panel h2 a { font-size: 18px; display: block; line-height: 46px; text-align: center; color: #c5d2db; }

#gnb-all-menu .wrap .panel h2 a:before { position: absolute; top: 10px; display: block; width: 1px; height: 26px; background: #5d7385; content: ""; }

#gnb-all-menu .wrap .panel h2 a:hover, #gnb-all-menu .wrap .panel h2 a:focus { color: #fff; background: #758c9e; }

#gnb-all-menu .wrap .panel h2 a:hover:before, #gnb-all-menu .wrap .panel h2 a:focus:before { position: absolute; top: 0; right: -1px; width: 1px; height: 46px; background: #758c9e; content: ""; z-index: 10; }

#gnb-all-menu .wrap .panel:nth-of-type(6) h2 a:hover:before, #gnb-all-menu .wrap .panel:nth-of-type(6) h2 a:hover:after, #gnb-all-menu .wrap .panel:nth-of-type(6) h2 a:focus:before, #gnb-all-menu .wrap .panel:nth-of-type(6) h2 a:focus:after { display: block; content: ""; visibility: hidden; }

#gnb-all-menu .wrap .panel:nth-of-type(6) h2:first-child a:after { position: absolute; top: 10px; right: 0; display: block; width: 1px; height: 26px; background: #758c9e; content: ""; }

#gnb-all-menu .wrap .panel > ul { height: 518px; border-left: 1px solid #dde5eb; background: #fff; }

#gnb-all-menu .wrap .panel > ul > li:first-child:before { content: ""; display: block; padding-top: 12px; }

#gnb-all-menu .wrap .panel > ul > li a { display: block; font-size: 14px; }

#gnb-all-menu .wrap .panel > ul > li a:hover, #gnb-all-menu .wrap .panel > ul > li a:focus { background: #cee4f5; text-decoration: underline; }

#gnb-all-menu .wrap .panel > ul > li > a { font-weight: bold; padding: 4px 20px; }

#gnb-all-menu .wrap .panel > ul > li > ul > li > a { position: relative; color: #757575; padding: 4px 20px 4px 30px; }

#gnb-all-menu .wrap .panel > ul > li > ul > li > a:before { position: absolute; top: 13px; left: 20px; display: block; width: 3px; height: 3px; background: #757575; content: ""; }

#gnb-all-menu .wrap .panel > ul > li > ul > li > a:hover, #gnb-all-menu .wrap .panel > ul > li > ul > li > a:focus { color: #003761; }

#gnb-all-menu .wrap .panel > ul > li > ul > li > a:hover:before, #gnb-all-menu .wrap .panel > ul > li > ul > li > a:focus:before { background: #003761; }

#gnb-all-menu .wrap .panel:nth-of-type(6) > ul { border-right: 1px solid #dde5eb; }

#gnb-all-menu .wrap .panel:nth-of-type(6) > ul:nth-of-type(1) { height: 150px; }

#gnb-all-menu .wrap .panel:nth-of-type(6) > ul:nth-of-type(2) { height: 322px; }

#gnb-all-menu .wrap .btn-gnb-close { position: absolute; right: 24px; bottom: 0; width: 54px; height: 54px; text-indent: -9999px; background: #003761; }

#gnb-all-menu .wrap .btn-gnb-close:before { position: absolute; top: 27px; left: 13px; display: block; width: 28px; height: 1px; background: #fff; transform: rotate(45deg); content: ""; }

#gnb-all-menu .wrap .btn-gnb-close:after { position: absolute; top: 27px; left: 13px; display: block; width: 28px; height: 1px; background: #fff; transform: rotate(-45deg); content: ""; }

/* =======================================*/
/* LNB 영역
/* =======================================*/
.lnb { float: left; width: 226px; margin-bottom: 30px; }

.lnb h3 { display: block; height: 100px; line-height: 100px; color: #fff; text-align: center; letter-spacing: -0.03em; background: url("../../assets/images/bg/lnb_title.png") no-repeat; }

.accordion-lnb { border: 1px solid #cad7e0; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; }

.accordion-lnb > li { border-bottom: 1px solid #cad7e0; font-size: 16px; color: #333; font-weight: bold; }

.accordion-lnb > li [class*="link"] { position: relative; color: #4D4D4D; font-size: 16px; font-weight: bold; padding: 15px 20px; border-bottom: 1px solid #CCC; }

.accordion-lnb > li [class*="link"] .fa-angle-down { position: absolute; display: block; top: 18px; right: 18px; font-size: 18px; color: #333; transform: rotate(0deg); }

.accordion-lnb > li:last-child, .accordion-lnb > li [class*="link"] { border-bottom: 0; }

.accordion-lnb > li:last-child ul, .accordion-lnb > li [class*="link"] ul { border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; }

.accordion-lnb > li.open { background: #cee4f5; }

.accordion-lnb > li.open [class*="link"] { position: relative; color: #003761; padding-left: 33px; }

.accordion-lnb > li.open [class*="link"]:before { position: absolute; left: 20px; bottom: 16px; width: 6px; height: 2px; background: #003761; content: ""; }

.accordion-lnb > li.open [class*="link"] .fa-angle-down { color: #003761; transform: rotate(180deg); transition: transform 0.25s ease; }

.accordion-lnb > li.open:last-child [class*="link"] { border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; }

.accordion-lnb > li.selected { background: #003761; }

.accordion-lnb > li.selected [class*="link"] { position: relative; color: #f0f8ff; padding-left: 33px; }

.accordion-lnb > li.selected [class*="link"]:before { position: absolute; left: 20px; bottom: 16px; width: 6px; height: 2px; background: #f0f8ff; content: ""; }

.accordion-lnb > li.selected [class*="link"] .fa-angle-down { color: #f0f8ff; transform: rotate(180deg); transition: transform 0.25s ease; }

.accordion-lnb [class*="sub"] { background: #f0f8ff; padding: 9px 0; }

.accordion-lnb [class*="sub"] > li { font-weight: normal; padding: 9px 24px; }

.accordion-lnb [class*="sub"] > li a { position: relative; display: block; padding-left: 11px; letter-spacing: -0.06em; }

.accordion-lnb [class*="sub"] > li a:before { position: absolute; left: 0; }

.accordion-lnb [class*="sub"] > li a:hover, .accordion-lnb [class*="sub"] > li a:focus { font-weight: bold; color: #003761; text-decoration: underline; }

.accordion-lnb [class*="sub"] > li a.active { font-weight: bold; color: #003761; padding-left: 12px; }

.accordion-lnb [class*="sub"] > li a.active:before { font-family: 'FontAwesome'; content: ""; font-size: 10px; font-size: 1rem; color: #003761; top: 5px; background: transparent; }

.accordion-lnb [class*="sub"] > li > a:before { top: 11px; display: block; width: 3px; height: 3px; background: #757575; content: ""; }

.accordion-lnb [class*="sub"] > li > a:hover:before, .accordion-lnb [class*="sub"] > li > a:focus:before { background: #003761; }

.accordion-lnb [class*="sub"] > li > ul li { padding-top: 9px; padding-left: 10px; }

.accordion-lnb [class*="sub"] > li > ul li a:before { top: -3px; background: transparent; color: #757575; content: "-"; }

/* =======================================*/
/* Layout Common Style
/* =======================================*/
body { min-width: 480px; }

body * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; word-wrap: break-word; }

body .wrap { width: 1100px; margin: 0 auto; }

html { font-size: 10px; }

html body { font-family: "malgun gothic", "Noto Sans Korean", sans-serif, serif; font-size: 1.4rem; -webkit-font-smoothing: antialiased; color: #4c4c4c; letter-spacing: -0.03em; line-height: 1.5; }

/* =======================================*/
/* 버튼 공통 스타일
/* =======================================*/
/* =======================================*/
/* 페이징 스타일
/* =======================================*/
.paging { display: inline-block; text-align: center; margin-top: 30px; position: relative; left: 50%; -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); transform: translateX(-50%); }

.paging button { float: left; position: relative; display: inline-block; width: 36px; height: 36px; vertical-align: top; padding: 0 4px; border-top: 1px solid #c2c2c2; border-left: 1px solid #c2c2c2; border-bottom: 1px solid #c2c2c2; }

.paging button:before, .paging button:after { position: absolute; top: 12px; }

.paging button.first-prev { margin-left: 0; }

.paging button.first-prev:before { left: 9px; font-family: 'FontAwesome'; content: ""; font-size: 12px; font-size: 1.2rem; color: #879dad; }

.paging button.first-prev:after { right: 11px; font-family: 'FontAwesome'; content: ""; font-size: 12px; font-size: 1.2rem; color: #879dad; }

.paging button.prev:before { left: 12px; font-family: 'FontAwesome'; content: ""; font-size: 12px; font-size: 1.2rem; color: #879dad; }

.paging button.last-next { border-right: 1px solid #c2c2c2; }

.paging button.last-next:before { left: 10px; font-family: 'FontAwesome'; content: ""; font-size: 12px; font-size: 1.2rem; color: #879dad; }

.paging button.last-next:after { right: 9px; font-family: 'FontAwesome'; content: ""; font-size: 12px; font-size: 1.2rem; color: #879dad; }

.paging button.next:before { right: 12px; font-family: 'FontAwesome'; content: ""; font-size: 12px; font-size: 1.2rem; color: #879dad; }

.paging button:focus, .paging button:active, .paging button.selected { border-bottom: 3px solid #112a3d; }

.paging button:focus:before, .paging button:focus:after, .paging button:active:before, .paging button:active:after, .paging button.selected:before, .paging button.selected:after { color: #003761; }

.paging a { float: left; display: inline-block; width: 36px; height: 36px; line-height: 34px; padding: 0 4px; border-top: 1px solid #c2c2c2; border-left: 1px solid #c2c2c2; border-bottom: 1px solid #c2c2c2; }

.paging a:focus, .paging a:active, .paging a.selected { font-weight: bold; color: #003761; border-bottom: 3px solid #112a3d; }

/* =======================================*/
/* Skip Navigation 설정
/* =======================================*/
.skip-link { position: absolute; top: -33px; display: inline-block; width: 100%; height: 28px; line-height: 28px; text-align: center; background: #555; }

.skip-link:hover, .skip-link:focus, .skip-link:active { top: 0; font-weight: bold; color: #eee; }

/* =======================================*/
/* Header : Top menu
/* =======================================*/
.header .top-menu { height: 28px; line-height: 28px; border-bottom: 1px solid #ebebeb; }

.header .top-menu .wrap { text-align: right; }

.header .top-menu .wrap a { font-size: 12px; color: #757575; }

.header .top-menu .wrap a:after { display: inline-block; content: "/"; padding: 0 6px 0 10px; }

.header .top-menu .wrap a:last-child:after { content: ""; padding: 0; }

/* =======================================*/
/* Visual Banner : 상단 공통 배너 /* =======================================*/
.sub-visual { width: 100%; min-width: 1248px; height: 140px; text-indent: -9999px; background: url("../../assets/images/bg/sub-banner.png") center; }

/* =======================================*/
/* Container : 컨테이너 영역
/* =======================================*/
#container { display: block; min-height: 670px; padding-top: 50px; padding-bottom: 30px; /* Content 영역 */ }

#container .content-area { float: left; width: 950px; margin-left: 24px; margin-bottom: 90px; }

#container .content-area .headline { height: 58px; line-height: 58px; /* Sub Page : Title 공통 */ /* Sub Page : Location 공통 */ }

#container .content-area .headline .sub-title { float: left; position: relative; font-weight: bold; padding-left: 30px; }

#container .content-area .headline .sub-title:before, #container .content-area .headline .sub-title:after { position: absolute; top: 1px; }

#container .content-area .headline .sub-title:before { left: 0; font-family: 'FontAwesome'; content: ""; font-size: 30px; font-size: 3rem; color: #495157; }

#container .content-area .headline .sub-title:after { left: 9px; font-family: 'FontAwesome'; content: ""; font-size: 30px; font-size: 3rem; color: #495157; }

#container .content-area .headline .site-location { float: right; }

#container .content-area .headline .site-location a { font-size: 12px; color: #666; }

#container .content-area .headline .site-location a img { vertical-align: text-top; }

#container .content-area .headline .site-location a:before { display: inline-block; font-family: 'FontAwesome'; font-size: 16px; content: "\f105"; padding: 0 4px 0 2px; }

#container .content-area .headline .site-location a:first-child:before { content: ""; }

#container .content-area .headline .site-location a:last-child { color: #333; }

#container .content-area .content { padding: 0 10px; line-height: 1; }

#container .content-area .content > * { line-height: 1.5; }

/* =======================================*/
/* Sub Page : Title 구분선
/* =======================================*/
hr.sub-title-bar { display: block; width: 100%; height: 6px; margin-top: 0; margin-bottom: 30px; background: url("../../assets/images/bg/sub-title-bar.png") repeat-x; }

/* =======================================*/
/* Sub Page : Title Font 스타일
/* =======================================*/
.content-box-area h3 { position: relative; display: inline-block; font-size: 16px; height: 24px; padding-left: 10px; margin-top: 30px; margin-bottom: 13px; }

.content-box-area h3:before { position: absolute; top: 4px; left: 0; display: inline-block; width: 3px; height: 16px; background: #003761; content: ""; }

.content-box-area h3 span { font-weight: normal; }

.content-box-area h3 + .sub-top-btn-area { float: right; margin-top: 27px; }

.content-box-area:first-child { position: relative; }

.content-box-area:first-child h3 { margin-top: 0; }

.content-box-area .align-area { min-height: 440px; padding: 30px; margin-bottom: 30px; border: 1px solid #c2c2c2; }

.content-box-area .left-area { float: left; margin-right: 30px; }

.content-box-area .right-area { float: right; }

.content-box-area .left-area, .content-box-area .right-area { width: calc((100% - 30px)/2); }

/* =======================================*/
/* Sub Page : 별첨, 윗첨자 스타일
/* =======================================*/
.enclosure p { position: relative; padding-left: 14px; }

.enclosure p:before { position: absolute; top: 9px; left: 0; display: inline-block; width: 4px; height: 4px; background: #003761; content: ""; }

.enclosure .superscript { padding-top: 7px; border-top: 1px solid #ededed; margin-top: 7px; }

.enclosure .superscript sup { font-weight: bold; vertical-align: text-top; }

/* =======================================*/
/* 검색 영역 스타일
/* =======================================*/
.search-area { width: 100%; padding: 19px 0; font-size: 0; text-align: center; border: 1px solid #c5d2db; margin-bottom: 30px; background: #f5f8fa; }

.search-area li { display: inline-block; height: 30px; line-height: 30px; font-size: 14px; margin-right: 6px; }

.search-area li:first-child { margin-right: 10px; }

.search-area li:last-child { margin-right: 0; }

.search-area .search-title { font-weight: bold; color: #2e3a42; }

.search-area .select-box { position: relative; width: 90px; height: 30px; }

.search-area .select-box:before { position: absolute; top: -2px; right: 10px; font-family: 'FontAwesome'; content: "\f0dd"; font-size: 17px; color: #343434; pointer-events: none; }

.search-area .select-box label { position: absolute; width: 100%; height: 30px; color: transparent; z-index: -1; }

.search-area .select-box select { width: 100%; height: 30px; line-height: 28px; padding: 0 10px; border: 1px solid #dbdbdb; background: #fff; /* 기본 버튼 속성 무시*/ -webkit-appearance: none; -ms-appearance: none; -moz-appearance: none; appearance: none; box-sizing: border-box; }

.search-area .select-box select:focus { border: 1px solid #002847; }

.search-area .select-box select::-ms-expand { display: none; }

.search-area .select-box.all { width: 130px; }

.search-area .input-type { min-width: 360px; }

.search-area .input-type input { width: 360px; height: 30px; line-height: 30px; padding: 0 10px; border: 1px solid #dbdbdb; background: #fff; }

.search-area .input-type input:focus { border: 1px solid #002847; }

.search-area .input-type input:focus::-webkit-input-placeholder { color: transparent; }

.search-area .input-type input:focus:-moz-placeholder { color: transparent; }

.search-area .input-type input:focus::-moz-placeholder { color: transparent; }

.search-area .input-type input:focus:-ms-input-placeholder { color: transparent; }

.search-area .input-type label { line-height: 30px; }

/* =======================================*/
/* 전체 페이지 단위 선택
/* =======================================*/
.all-pages-view { padding: 6px 0; }

.all-pages-view .all-page { float: left; }

.all-pages-view .all-page span { font-size: 16px; line-height: 34px; }

.all-pages-view .all-page span strong { color: #333; }

.all-pages-view .all-page span:before { display: inline-block; width: 8px; height: 14px; vertical-align: -5px; margin-right: 5px; background: url("../../assets/images/icon/icon-all-page.png") no-repeat; content: ""; }

.all-pages-view .select-box { float: right; position: relative; width: 150px; height: 34px; }

.all-pages-view .select-box:before { position: absolute; top: 1px; right: 10px; font-family: 'FontAwesome'; content: "\f0dd"; font-size: 17px; color: #343434; pointer-events: none; }

.all-pages-view .select-box label { position: absolute; width: 100%; height: 34px; color: transparent; z-index: -1; }

.all-pages-view .select-box select { width: 100%; height: 34px; line-height: 32px; padding: 0 10px; border: 1px solid #dbdbdb; background: #fff; /* 기본 버튼 속성 무시*/ -webkit-appearance: none; -ms-appearance: none; -moz-appearance: none; appearance: none; box-sizing: border-box; }

.all-pages-view .select-box select:focus { border: 1px solid #002847; }

.all-pages-view .select-box select::-ms-expand { display: none; }

/* =======================================*/
/* Footer : 사이트 정보
/* =======================================*/
.footer { width: 100%; height: 170px; font-size: 12px; color: #8f8f8f; background: #06111a; }

.footer .site-info { text-align: center; padding-top: 45px; padding-bottom: 25px; }

.footer .site-info a { display: inline-block; vertical-align: middle; }

.footer .site-info a span { display: block; padding: 0 18px; height: 13px; line-height: 13px; border-right: 1px solid #808080; }

.footer .site-info a:last-child span { border-right: 0; }

.footer p { text-align: center; line-height: 1.8em; }

.footer p .copyright { font-size: 12px; }

/* =======================================*/
/* 폼 그룹 스타일
/* =======================================*/
.input-type input, .checkbox-type input, .radio-type input, .radio-type input { /* 기본 버튼 속성 무시 */ -webkit-appearance: none; -ms-appearance: none; -moz-appearance: none; appearance: none; }

.input-type input::-webkit-input-placeholder, .checkbox-type input::-webkit-input-placeholder, .radio-type input::-webkit-input-placeholder, .radio-type input::-webkit-input-placeholder { color: #757575; }

.input-type input::-moz-placeholder, .checkbox-type input::-moz-placeholder, .radio-type input::-moz-placeholder, .radio-type input::-moz-placeholder { color: #757575; }

.input-type input:-ms-input-placeholder, .checkbox-type input:-ms-input-placeholder, .radio-type input:-ms-input-placeholder, .radio-type input:-ms-input-placeholder { color: #757575 !important; }

.input-type input:-moz-placeholder, .checkbox-type input:-moz-placeholder, .radio-type input:-moz-placeholder, .radio-type input:-moz-placeholder { color: #757575; }

.input-type + label:empty:before, .checkbox-type + label:empty:before, .radio-type + label:empty:before, .radio-type + label:empty:before { margin-right: 0; }

/* =======================================*/
/* 인풋 스타일
/* =======================================*/
.input-type { display: inline-block; min-width: 242px; }

.input-type input { width: 242px; height: 30px; line-height: 30px; padding: 0 10px; border: 1px solid #dbdbdb; background: #fff; }

.input-type input:focus { border: 1px solid #002847; }

.input-type input:focus::-webkit-input-placeholder { color: transparent; }

.input-type input:focus:-moz-placeholder { color: transparent; }

.input-type input:focus::-moz-placeholder { color: transparent; }

.input-type input:focus:-ms-input-placeholder { color: transparent; }

.input-type label { line-height: 30px; }

.input-type.tel { min-width: 71px; }

.input-type.tel input { width: 71px; height: 30px; line-height: 30px; padding: 0 10px; border: 1px solid #dbdbdb; background: #fff; }

.input-type.tel input:focus { border: 1px solid #002847; }

.input-type.tel input:focus::-webkit-input-placeholder { color: transparent; }

.input-type.tel input:focus:-moz-placeholder { color: transparent; }

.input-type.tel input:focus::-moz-placeholder { color: transparent; }

.input-type.tel input:focus:-ms-input-placeholder { color: transparent; }

.input-type.tel label { line-height: 30px; }

.input-type.tel .dialog { position: relative; display: inline-block; margin-right: 10px; }

.input-type.tel .dialog:after { display: inline-block; position: absolute; top: 4px; right: -10px; content: "-"; }

.input-type.tel .dialog:last-child { margin-right: 0; }

.input-type.tel .dialog:last-child:after { content: ""; }

.input-type.e-mail { min-width: 140px; }

.input-type.e-mail input { width: 140px; height: 30px; line-height: 30px; padding: 0 10px; border: 1px solid #dbdbdb; background: #fff; }

.input-type.e-mail input:focus { border: 1px solid #002847; }

.input-type.e-mail input:focus::-webkit-input-placeholder { color: transparent; }

.input-type.e-mail input:focus:-moz-placeholder { color: transparent; }

.input-type.e-mail input:focus::-moz-placeholder { color: transparent; }

.input-type.e-mail input:focus:-ms-input-placeholder { color: transparent; }

.input-type.e-mail label { line-height: 30px; }

.input-type.e-mail .email { position: relative; display: inline-block; }

.input-type.e-mail .email:first-child { margin-right: 19px; }

.input-type.e-mail .email:first-child:after { display: inline-block; position: absolute; top: 4px; right: -18px; content: "@"; }

.input-type.date { position: relative; }

.input-type.date input { padding-right: 0; }

.input-type.date .icon-calender { position: absolute; top: 4px; right: 4px; width: 23px; height: 22px; vertical-align: -5px; background: url("../../assets/images/icon/icon-calender.png") no-repeat; pointer-events: none; }

.input-type.full { min-width: 100%; }

.input-type.full input { width: 100%; height: 30px; line-height: 30px; padding: 0 10px; border: 1px solid #dbdbdb; background: #fff; }

.input-type.full input:focus { border: 1px solid #002847; }

.input-type.full input:focus::-webkit-input-placeholder { color: transparent; }

.input-type.full input:focus:-moz-placeholder { color: transparent; }

.input-type.full input:focus::-moz-placeholder { color: transparent; }

.input-type.full input:focus:-ms-input-placeholder { color: transparent; }

.input-type.full label { line-height: 30px; }

/* =======================================*/
/* 셀렉트박스 스타일
/* =======================================*/
.select-box { display: inline-block; position: relative; width: 150px; height: 30px; }

.select-box:before { position: absolute; top: -2px; right: 10px; font-family: 'FontAwesome'; content: "\f0dd"; font-size: 17px; color: #343434; pointer-events: none; }

.select-box label { position: absolute; width: 100%; height: 30px; color: transparent; z-index: -1; }

.select-box select { width: 100%; height: 30px; line-height: 28px; padding: 0 10px; border: 1px solid #dbdbdb; background: #fff; /* 기본 버튼 속성 무시*/ -webkit-appearance: none; -ms-appearance: none; -moz-appearance: none; appearance: none; box-sizing: border-box; }

.select-box select:focus { border: 1px solid #002847; }

.select-box select::-ms-expand { display: none; }

.select-box.e-mail { position: relative; width: 140px; height: 30px; }

.select-box.e-mail:before { position: absolute; top: -2px; right: 10px; font-family: 'FontAwesome'; content: "\f0dd"; font-size: 17px; color: #343434; pointer-events: none; }

.select-box.e-mail label { position: absolute; width: 100%; height: 30px; color: transparent; z-index: -1; }

.select-box.e-mail select { width: 100%; height: 30px; line-height: 28px; padding: 0 10px; border: 1px solid #dbdbdb; background: #fff; /* 기본 버튼 속성 무시*/ -webkit-appearance: none; -ms-appearance: none; -moz-appearance: none; appearance: none; box-sizing: border-box; }

.select-box.e-mail select:focus { border: 1px solid #002847; }

.select-box.e-mail select::-ms-expand { display: none; }

.select-box.full { position: relative; width: 100%; height: 30px; }

.select-box.full:before { position: absolute; top: -2px; right: 10px; font-family: 'FontAwesome'; content: "\f0dd"; font-size: 17px; color: #343434; pointer-events: none; }

.select-box.full label { position: absolute; width: 100%; height: 30px; color: transparent; z-index: -1; }

.select-box.full select { width: 100%; height: 30px; line-height: 28px; padding: 0 10px; border: 1px solid #dbdbdb; background: #fff; /* 기본 버튼 속성 무시*/ -webkit-appearance: none; -ms-appearance: none; -moz-appearance: none; appearance: none; box-sizing: border-box; }

.select-box.full select:focus { border: 1px solid #002847; }

.select-box.full select::-ms-expand { display: none; }

/* =======================================*/
/* 텍스트박스 스타일
/* =======================================*/
.textarea { display: block; width: 100%; padding: 6px 10px; border: 1px solid #dbdbdb; background: #fff; overflow-y: scroll; }

.textarea:focus { border: 1px solid #002847; }

/* =======================================*/
/* 아코디언 스타일
/* =======================================*/
.aco-base, .aco-open { /* 아코디언 메뉴 */ /* 아코디언 패널 */ }

.aco-base > li.open, .aco-open > li.open { /* 아코디언 메뉴 패널 펼침 */ }

.aco-base [class*="link"], .aco-open [class*="link"] { display: block; -webkit-transition: all 0.4s ease; -o-transition: all 0.4s ease; transition: all 0.4s ease; }

.aco-base [class*="sub"], .aco-open [class*="sub"] { display: none; }

/* =======================================*/
/* 갤러리 스타일
/* =======================================*/
.gallery { /* 컬럼의 갯수 col1~col6 까지 class 생성 */ /* @include list-type(컬럼 수, 마진 우측 px) */ width: 100%; }

.gallery.col1 li { float: left; width: calc((100% - 0px) / 1); margin-right: 10px; }

.gallery.col1 li:nth-of-type(1n) { margin-right: 0; }

.gallery.col2 li { float: left; width: calc((100% - 10px) / 2); margin-right: 10px; }

.gallery.col2 li:nth-of-type(2n) { margin-right: 0; }

.gallery.col3 li { float: left; width: calc((100% - 20px) / 3); margin-right: 10px; }

.gallery.col3 li:nth-of-type(3n) { margin-right: 0; }

.gallery.col4 li { float: left; width: calc((100% - 30px) / 4); margin-right: 10px; }

.gallery.col4 li:nth-of-type(4n) { margin-right: 0; }

.gallery.col5 li { float: left; width: calc((100% - 40px) / 5); margin-right: 10px; }

.gallery.col5 li:nth-of-type(5n) { margin-right: 0; }

.gallery.col6 li { float: left; width: calc((100% - 50px) / 6); margin-right: 10px; }

.gallery.col6 li:nth-of-type(6n) { margin-right: 0; }

/* =======================================*/
/* 탭 스타일
/* =======================================*/
.tablist { /* 탭의 갯수 t1~t8 까지 class 생성 */ /* @include tabs(컬럼 수) */ width: 100%; width: 932px; margin-left: -1px; }

.tablist.t1 [role="tab"] { float: left; width: 100%; padding: 0 1px; }

.tablist.t1 [role="tab"]:nth-child(1) { margin-bottom: 2px; }

.tablist.t1 [role="tab"]:nth-child(1) span { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }

.tablist.t1 [role="tab"]:nth-child(1):last-child { margin-bottom: 0; }

.tablist.t1 [role="tab"]:nth-child(2) span { border-top-left-radius: 4px; border-bottom-left-radius: 4px; }

.tablist.t2 [role="tab"] { float: left; width: 50%; padding: 0 1px; }

.tablist.t2 [role="tab"]:nth-child(2) { margin-bottom: 2px; }

.tablist.t2 [role="tab"]:nth-child(2) span { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }

.tablist.t2 [role="tab"]:nth-child(2):last-child { margin-bottom: 0; }

.tablist.t2 [role="tab"]:nth-child(3) span { border-top-left-radius: 4px; border-bottom-left-radius: 4px; }

.tablist.t3 [role="tab"] { float: left; width: 33.33333%; padding: 0 1px; }

.tablist.t3 [role="tab"]:nth-child(3) { margin-bottom: 2px; }

.tablist.t3 [role="tab"]:nth-child(3) span { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }

.tablist.t3 [role="tab"]:nth-child(3):last-child { margin-bottom: 0; }

.tablist.t3 [role="tab"]:nth-child(4) span { border-top-left-radius: 4px; border-bottom-left-radius: 4px; }

.tablist.t4 [role="tab"] { float: left; width: 25%; padding: 0 1px; }

.tablist.t4 [role="tab"]:nth-child(4) { margin-bottom: 2px; }

.tablist.t4 [role="tab"]:nth-child(4) span { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }

.tablist.t4 [role="tab"]:nth-child(4):last-child { margin-bottom: 0; }

.tablist.t4 [role="tab"]:nth-child(5) span { border-top-left-radius: 4px; border-bottom-left-radius: 4px; }

.tablist.t5 [role="tab"] { float: left; width: 20%; padding: 0 1px; }

.tablist.t5 [role="tab"]:nth-child(5) { margin-bottom: 2px; }

.tablist.t5 [role="tab"]:nth-child(5) span { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }

.tablist.t5 [role="tab"]:nth-child(5):last-child { margin-bottom: 0; }

.tablist.t5 [role="tab"]:nth-child(6) span { border-top-left-radius: 4px; border-bottom-left-radius: 4px; }

.tablist.t6 [role="tab"] { float: left; width: 16.66667%; padding: 0 1px; }

.tablist.t6 [role="tab"]:nth-child(6) { margin-bottom: 2px; }

.tablist.t6 [role="tab"]:nth-child(6) span { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }

.tablist.t6 [role="tab"]:nth-child(6):last-child { margin-bottom: 0; }

.tablist.t6 [role="tab"]:nth-child(7) span { border-top-left-radius: 4px; border-bottom-left-radius: 4px; }

.tablist.t7 [role="tab"] { float: left; width: 14.28571%; padding: 0 1px; }

.tablist.t7 [role="tab"]:nth-child(7) { margin-bottom: 2px; }

.tablist.t7 [role="tab"]:nth-child(7) span { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }

.tablist.t7 [role="tab"]:nth-child(7):last-child { margin-bottom: 0; }

.tablist.t7 [role="tab"]:nth-child(8) span { border-top-left-radius: 4px; border-bottom-left-radius: 4px; }

.tablist.t8 [role="tab"] { float: left; width: 12.5%; padding: 0 1px; }

.tablist.t8 [role="tab"]:nth-child(8) { margin-bottom: 2px; }

.tablist.t8 [role="tab"]:nth-child(8) span { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }

.tablist.t8 [role="tab"]:nth-child(8):last-child { margin-bottom: 0; }

.tablist.t8 [role="tab"]:nth-child(9) span { border-top-left-radius: 4px; border-bottom-left-radius: 4px; }

.tablist [role="tab"]:first-child span { border-top-left-radius: 4px; border-bottom-left-radius: 4px; }

.tablist [role="tab"]:last-child span { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }

.tablist [role="tab"] span { display: block; text-align: center; width: 100%; height: 40px; line-height: 36px; background: #f5dfd7; border: 2px solid #f1c7b7; }

.tablist [role="tab"][aria-selected='true'] span { position: relative; font-weight: bold; color: #fff; line-height: 35px; background: #d14411; border: 0; box-shadow: 1px 1px 4px 3px rgba(209, 68, 17, 0.3) inset; }

.tablist [role="tab"][aria-selected='true'] span:before { position: absolute; bottom: 0; left: 50%; margin-left: -5px; display: block; width: 0; height: 0; border-color: transparent; border-width: 6px; border-style: solid; border-bottom-color: #fff; content: ""; }

.tablist [role="tab"]:hover span, .tablist [role="tab"]:focus span { position: relative; font-weight: bold; color: #fff; line-height: 40px; background: #d14411; border: 0; box-shadow: 1px 1px 4px 3px rgba(209, 68, 17, 0.3) inset; }

.tablist [role="tab"]:hover span:before, .tablist [role="tab"]:focus span:before { position: absolute; bottom: -12px; left: 50%; display: block; width: 0; height: 0; border-color: transparent; border-width: 6px; border-style: solid; border-top-color: #d14411; content: ""; }

.panel-group { margin-top: 12px; width: 100%; min-height: 480px; }

.panel-group [role="tabpanel"][aria-hidden='true'] { display: none; }

/*# sourceMappingURL=map/uni-common.css.map */
