@charset "UTF-8";
/*! uni-main.css v1.0.0 © inyoung524@naver.com */
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, figure, legend, input, textarea, button, p, blockquote, th, td, form, fieldset, blockquote, iframe { margin: 0; padding: 0; -moz-text-size-adjust: none; -ms-text-size-adjust: none; -webkit-text-size-adjust: none; text-size-adjust: none; }

article, aside, canvas, details, embed, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

command, datalist, keygen, mark, meter, progress, rp, rt, ruby, time, wbr { display: inline; }

img { vertical-align: top; border: 0; }

fieldset { border: 0; }

ul, ol, li { list-style: none; }

hr { display: none; border: 0; }

pre { white-space: pre-wrap; }

legend, caption { display: none; clear: both; }

a { color: inherit; cursor: pointer; }

a:link { text-decoration: none; }

a:hover, a:focus, a:active { text-decoration: none; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; word-break: keep-all; }

em, i, address, cite { font-style: normal; font-weight: normal; }

input, textarea, select, button, table { font-size: inherit; font-family: inherit; *font-size: inherit; border: 0; background-color: transparent; }

button, select { cursor: pointer; }

textarea, input, select { -webkit-border-radius: 0; -ms-border-radius: 0; -moz-border-radius: 0; border-radius: 0; border: 0; outline-color: -moz-use-text-color; outline-style: none; outline-width: medium; }

textarea { resize: none; }

label { cursor: pointer; }

table { table-layout: fixed; border-collapse: collapse; border-spacing: 0; }

th, td { border-collapse: collapse; }

progress[value] { appearance: none; -moz-appearance: none; -webkit-appearance: none; display: inline-block; border: none; background-size: auto; }

progress[value][role][aria-valuenow] { appearance: none; -moz-appearance: none; -webkit-appearance: none; display: inline-block; border: none; background-size: auto; }

progress[value][role][aria-valuenow]:after { background-image: none; }

progress[value][role][aria-valuenow]:before { display: table; }

progress[value][role][aria-valuenow] strong { display: none; }

progress[value]::-webkit-progress-value, progress[value]::-webkit-progress-inner-element { display: table; }

progress[value]::-webkit-progress-bar { display: table-cell; }

progress[value]::-moz-progress-bar, progress[value]::-webkit-progress-value { display: table; }

textarea { color: inherit; }

textarea:focus::-webkit-input-placeholder { /* WebKit browsers */ color: transparent; }

textarea:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color: transparent; }

textarea:focus::-moz-placeholder { /* Mozilla Firefox 19+ */ color: transparent; }

textarea:focus:-ms-input-placeholder { /* Internet Explorer 10+ */ color: transparent; }

input[type="reset"], input[type="button"], input[type="submit"] { line-height: normal !important; }

input[type="button"], input[type="text"], input[type="image"], input[type="submit"] { -webkit-appearance: none; -webkit-border-radius: 0; }

input:checked[type="checkbox"] { background-color: #fff; -webkit-appearance: checkbox; }

input { color: inherit; }

input::-webkit-input-placeholder { /* Chrome/Opera/Safari*/ color: inherit; }

input::-moz-placeholder { /* Firefox 19+*/ color: inherit; }

input:-ms-input-placeholder { /* IE 10+*/ color: inherit !important; }

input:-moz-placeholder { /* Firefox 18-*/ color: inherit; }

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill { -webkit-text-fill-color: inherit; -webkit-box-shadow: 0 0 0px 1000px white inset; }

input[type="date"]::-webkit-clear-button { display: none; }

input[type="date"]::-webkit-inner-spin-button { display: none; }

input[type="date"]::-webkit-calendar-picker-indicator { color: #343434; background: #fff; }

input[type="date"] { appearance: none; -webkit-appearance: none; display: inline-block !important; visibility: visible !important; }

input[type="date"], input focus { box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; }

@media print { code[class*="language-"], pre[class*="language-"] { text-shadow: none; }
  html * { color: #000; background: #fff; } }

.checkbox-type input, .radio-type input { position: absolute; cursor: pointer; opacity: 0; }

.checkbox-type input + label, .radio-type input + label { position: relative; padding-left: 22px; }

.checkbox-type input + label:before, .radio-type input + label:before { position: absolute; top: 2px; left: 0; display: inline-block; content: ''; text-align: center; width: 14px; height: 14px; border: 1px solid #dbdbdb; background: #fff; }

.checkbox-type input:focus + label:before, .radio-type input:focus + label:before { outline: none; border-color: #002847; }

.checkbox-type input:checked + label:before, .radio-type input:checked + label:before { color: #002847; border-color: #002847; }

.checkbox-type input[type="checkbox"] + label:before, .radio-type input[type="checkbox"] + label:before { font-size: 18px; line-height: 1; transition: all 0.1s ease; }

.checkbox-type input[type="checkbox"]:checked + label:before, .radio-type input[type="checkbox"]:checked + label:before { font-size: 13px; line-height: 1.2; font-family: 'FontAwesome'; content: "\f00c"; }

.radio-type input[type="radio"] + label:before { border-radius: 100%; transition: all 0.3s ease; }

.radio-type input[type="radio"]:checked + label:before { background-color: #002847; box-shadow: inset 0 0 0 3px #fff; }

.gnb-area, .gnb-area .gnb #gnb-menu, .gnb-area .gnb #gnb-menu li a, #gnb-all-menu .wrap, .footer-link-banner .wrap, .footer-link-banner .wrap .link-banner-area ul { *zoom: 1; }

.gnb-area:before, .gnb-area .gnb #gnb-menu:before, .gnb-area .gnb #gnb-menu li a:before, #gnb-all-menu .wrap:before, .footer-link-banner .wrap:before, .footer-link-banner .wrap .link-banner-area ul:before, .gnb-area:after, .gnb-area .gnb #gnb-menu:after, .gnb-area .gnb #gnb-menu li a:after, #gnb-all-menu .wrap:after, .footer-link-banner .wrap:after, .footer-link-banner .wrap .link-banner-area ul:after { content: ""; display: table; }

.gnb-area:after, .gnb-area .gnb #gnb-menu:after, .gnb-area .gnb #gnb-menu li a:after, #gnb-all-menu .wrap:after, .footer-link-banner .wrap:after, .footer-link-banner .wrap .link-banner-area ul:after { clear: both; }

h2, h3, h4 { font-weight: bold; }

h2 { font-size: 28px; font-size: 2.8rem; }

h3 { font-size: 24px; font-size: 2.4rem; }

h4 { font-size: 18px; font-size: 1.8rem; }

h5 { font-size: 22px; font-size: 2.2rem; }

h6 { font-size: 16px; font-size: 1.6rem; }

/* =======================================*/
/* Carousel Style
/* =======================================*/
.readable-hidden { overflow: hidden; position: absolute; top: auto; left: -100000px; width: 1px; height: 1px; }

.ui-carousel { position: relative; width: 100%; height: 400px; overflow: hidden; }

.ui-carousel .ui-carousel__tablist--wrapper { position: absolute; left: 50%; -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); transform: translateX(-50%); bottom: 20px; z-index: 100; }

.ui-carousel .ui-carousel__tablist--wrapper .ui-carousel__indicators { float: left; }

.ui-carousel .ui-carousel__tablist--wrapper .ui-carousel__indicators li { float: left; }

.ui-carousel .ui-carousel__tabpanel-wrapper { position: relative; width: 100vw; height: 400px; }

.ui-carousel .ui-carousel__tabpanel-wrapper:after { content: ''; display: block; clear: both; }

.ui-carousel__tabpanel { position: relative; float: left; width: 100vw; overflow: hidden; }

.ui-carousel__tabpanel > a { display: block; }

.ui-carousel__tabpanel > a img { vertical-align: middle; object-fit: cover; }

.ui-carousel__toggle--animate { position: relative; float: left; width: 18px; height: 18px; color: #333; margin-top: -5px; margin-right: 5px; border-radius: 50%; background: #fff; box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.6); }

.ui-carousel__toggle--animate:hover, .ui-carousel__toggle--animate:focus { background: #eaeaea; transform: scale(1.3); }

.ui-carousel__toggle--animate::before { position: absolute; top: 50%; left: 50%; -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); font-family: 'FontAwesome'; content: ""; font-size: 10px; font-size: 1rem; padding-left: 2px; }

.ui-carousel__toggle--animate.is-play::before { font-family: 'FontAwesome'; content: ""; font-size: 10px; font-size: 1rem; padding-left: 0; }

.ui-carousel__tab { display: block; width: 10px; height: 10px; margin-left: 5px; margin-right: 5px; border-radius: 5px; background: #fff; box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3); transition: all 0.2s cubic-bezier(0.01, 0.35, 0, 1.01); }

.ui-carousel__tab:hover, .ui-carousel__tab:focus { background: #eaeaea; transform: scale(1.3); }

.ui-carousel__tab.active { background: #003964; width: 24px; }

.ui-carousel__tab.active:hover { cursor: default; }

.ui-carousel__tab.active:focus { background: #003964; }

.ui-carousel__button { position: absolute; top: 50%; width: 24px; height: 46px; margin-top: -23px; transition: all 0.2s ease; cursor: pointer; }

.ui-carousel__button:hover, .ui-carousel__button:focus { text-shadow: 1px 1px 3px 0px rgba(255, 255, 255, 0.8); }

.ui-carousel__button.ui-carousel__button--prev { left: 0; }

.ui-carousel__button.ui-carousel__button--prev:before { font-family: 'FontAwesome'; content: ""; font-size: 16px; font-size: 1.6rem; }

.ui-carousel__button.ui-carousel__button--next { right: 0; }

.ui-carousel__button.ui-carousel__button--next:before { font-family: 'FontAwesome'; content: ""; font-size: 16px; font-size: 1.6rem; }

/* =======================================*/
/* GNB 영역
/* =======================================*/
.gnb-area .logo { float: left; margin-top: 10px; }

.gnb-area .gnb { float: right; height: 72px; }

.gnb-area .gnb #gnb-menu { float: left; }

.gnb-area .gnb #gnb-menu li { display: inline-block; line-height: 72px; }

.gnb-area .gnb #gnb-menu li a { display: block; font-size: 16px; font-weight: bold; padding: 0 26px; }

.gnb-area .gnb .btn-gnb-all { float: right; width: 24px; height: 19px; margin-top: 26px; text-indent: -9999px; background: url("../../assets/images/common/btn-gnb-all.svg") no-repeat; outline: 0; }

#gnb-all-menu { position: absolute; top: 100px; left: 0; right: 0; height: 0; background: linear-gradient(#475b6b 46px, #fff 46px); box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15); visibility: hidden; overflow: hidden; transition: visibility .3s, height .3s; }

#gnb-all-menu.open { visibility: visible; height: 564px; z-index: 1000; }

#gnb-all-menu .wrap { position: relative; }

#gnb-all-menu .wrap .panel { float: left; width: 200px; }

#gnb-all-menu .wrap .panel h2 { position: relative; font-weight: normal; background: #475b6b; }

#gnb-all-menu .wrap .panel h2 a { font-size: 18px; display: block; line-height: 46px; text-align: center; color: #c5d2db; }

#gnb-all-menu .wrap .panel h2 a:before { position: absolute; top: 10px; display: block; width: 1px; height: 26px; background: #5d7385; content: ""; }

#gnb-all-menu .wrap .panel h2 a:hover, #gnb-all-menu .wrap .panel h2 a:focus { color: #fff; background: #758c9e; }

#gnb-all-menu .wrap .panel h2 a:hover:before, #gnb-all-menu .wrap .panel h2 a:focus:before { position: absolute; top: 0; right: -1px; width: 1px; height: 46px; background: #758c9e; content: ""; z-index: 10; }

#gnb-all-menu .wrap .panel:nth-of-type(6) h2 a:hover:before, #gnb-all-menu .wrap .panel:nth-of-type(6) h2 a:hover:after, #gnb-all-menu .wrap .panel:nth-of-type(6) h2 a:focus:before, #gnb-all-menu .wrap .panel:nth-of-type(6) h2 a:focus:after { display: block; content: ""; visibility: hidden; }

#gnb-all-menu .wrap .panel:nth-of-type(6) h2:first-child a:after { position: absolute; top: 10px; right: 0; display: block; width: 1px; height: 26px; background: #758c9e; content: ""; }

#gnb-all-menu .wrap .panel > ul { height: 518px; border-left: 1px solid #dde5eb; background: #fff; }

#gnb-all-menu .wrap .panel > ul > li:first-child:before { content: ""; display: block; padding-top: 12px; }

#gnb-all-menu .wrap .panel > ul > li a { display: block; font-size: 14px; }

#gnb-all-menu .wrap .panel > ul > li a:hover, #gnb-all-menu .wrap .panel > ul > li a:focus { background: #cee4f5; text-decoration: underline; }

#gnb-all-menu .wrap .panel > ul > li > a { font-weight: bold; padding: 4px 20px; }

#gnb-all-menu .wrap .panel > ul > li > ul > li > a { position: relative; color: #757575; padding: 4px 20px 4px 30px; }

#gnb-all-menu .wrap .panel > ul > li > ul > li > a:before { position: absolute; top: 13px; left: 20px; display: block; width: 3px; height: 3px; background: #757575; content: ""; }

#gnb-all-menu .wrap .panel > ul > li > ul > li > a:hover, #gnb-all-menu .wrap .panel > ul > li > ul > li > a:focus { color: #003761; }

#gnb-all-menu .wrap .panel > ul > li > ul > li > a:hover:before, #gnb-all-menu .wrap .panel > ul > li > ul > li > a:focus:before { background: #003761; }

#gnb-all-menu .wrap .panel:nth-of-type(6) > ul { border-right: 1px solid #dde5eb; }

#gnb-all-menu .wrap .panel:nth-of-type(6) > ul:nth-of-type(1) { height: 150px; }

#gnb-all-menu .wrap .panel:nth-of-type(6) > ul:nth-of-type(2) { height: 322px; }

#gnb-all-menu .wrap .btn-gnb-close { position: absolute; right: 24px; bottom: 0; width: 54px; height: 54px; text-indent: -9999px; background: #003761; }

#gnb-all-menu .wrap .btn-gnb-close:before { position: absolute; top: 27px; left: 13px; display: block; width: 28px; height: 1px; background: #fff; transform: rotate(45deg); content: ""; }

#gnb-all-menu .wrap .btn-gnb-close:after { position: absolute; top: 27px; left: 13px; display: block; width: 28px; height: 1px; background: #fff; transform: rotate(-45deg); content: ""; }

/* =======================================*/
/* 메인 > 외부 메인
/* (html/main.html)
/* =======================================*/
.main-carousel-slider { height: 400px; }

.main-carousel-slider article { position: relative; height: 400px; }

.main-carousel-slider article > img { position: absolute; left: 50%; -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); transform: translateX(-50%); width: 100%; height: 100%; object-fit: cover; }

.main-carousel-slider article .wrap { position: relative; position: absolute; left: 50%; -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); transform: translateX(-50%); }

.main-carousel-slider article .wrap .slider-slogan-banner { position: absolute; left: 50%; top: 140px; display: block; width: 478px; margin-left: -404px; text-align: left; }

.main-carousel-slider article .wrap .slider-slogan-banner p { display: block; text-align: center; }

.main-carousel-slider article .wrap .slider-slogan-banner p:first-child { font-size: 50px; font-weight: bold; letter-spacing: -0.05em; line-height: 1.2; padding: 0 25px; margin-bottom: 25px; display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap: break-word; }

.main-carousel-slider article .wrap .slider-slogan-banner p:last-child { font-size: 18px; color: #fff; letter-spacing: -0.05em; height: 40px; line-height: 40px; padding: 0 15px; background: #8ab1e6; border-top-left-radius: 20px; border-bottom-right-radius: 20px; display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1; -webkit-box-orient: vertical; word-wrap: break-word; }

.main-carousel-slider article .wrap .slider-menu-banner { position: absolute; top: 53px; left: 50%; margin-left: 225px; }

.main-carousel-slider article .wrap .slider-menu-banner a { position: relative; display: inline-block; float: left; width: 142px; height: 142px; font-size: 16px; margin-right: 10px; box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.2); }

.main-carousel-slider article .wrap .slider-menu-banner a p { position: absolute; top: 50%; left: 50%; -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); text-align: center; padding-top: 40px; }

.main-carousel-slider article .wrap .slider-menu-banner a:nth-child(1) { background: #c5daeb url("../../assets/images/carousel/link-box-01.png") -4px -12px no-repeat; }

.main-carousel-slider article .wrap .slider-menu-banner a:nth-child(2) { background: #c5daeb url("../../assets/images/carousel/link-box-02.png") -4px -12px no-repeat; }

.main-carousel-slider article .wrap .slider-menu-banner a:nth-child(3) { background: #c5daeb url("../../assets/images/carousel/link-box-03.png") -4px -12px no-repeat; }

.main-carousel-slider article .wrap .slider-menu-banner a:nth-child(4) { background: #c5daeb url("../../assets/images/carousel/link-box-04.png") -4px -12px no-repeat; }

.main-carousel-slider article .wrap .slider-menu-banner a:nth-child(3n) { clear: both; }

.main-carousel-slider article .wrap .slider-menu-banner a:nth-child(even) { margin-right: 0; margin-bottom: 10px; }

.main-carousel-slider .ui-carousel__button:before { display: block; content: ""; width: 24px; height: 46px; }

.main-carousel-slider .ui-carousel__button:hover, .main-carousel-slider .ui-carousel__button:focus { -webkit-filter: drop-shadow(0 0 5px #fff); filter: drop-shadow(0 0 5px #fff); }

.main-carousel-slider .ui-carousel__button.ui-carousel__button--prev { left: 50%; margin-left: -600px; }

.main-carousel-slider .ui-carousel__button.ui-carousel__button--prev:before { background: url("../../assets/images/carousel/btn-arrow-left.svg") left center no-repeat; }

.main-carousel-slider .ui-carousel__button.ui-carousel__button--next { right: 50%; margin-right: -600px; }

.main-carousel-slider .ui-carousel__button.ui-carousel__button--next:before { background: url("../../assets/images/carousel/btn-arrow-right.svg") right center no-repeat; }

.user-main article h2 { font-size: 20px; height: 40px; line-height: 40px; text-align: left; }

.user-main article:first-child { width: 49%; float: left; margin-right: 2%; }

.user-main article:first-child .tablist { width: 100%; margin-left: 0; border: 1px solid #dbdbdb; border-bottom-width: 0; }

.user-main article:first-child .tablist [role="tab"] { padding: 0; }

.user-main article:first-child .tablist [role="tab"] span { font-size: 16px; height: 44px; line-height: 42px; background: #fff; border: 0; border-right: 1px solid #dbdbdb; border-bottom: 1px solid #dbdbdb; }

.user-main article:first-child .tablist [role="tab"] span:hover, .user-main article:first-child .tablist [role="tab"] span:focus { background: #d14411; border: 0; }

.user-main article:first-child .tablist [role="tab"]:first-child span { border-left-width: 1px; border-top-left-radius: 0; border-bottom-left-radius: 0; }

.user-main article:first-child .tablist [role="tab"]:last-child span { border-right: 0; border-top-right-radius: 0; border-bottom-right-radius: 0; }

.user-main article:first-child .tablist [role="tab"][aria-selected='true'] span { background: #d14411; border: 0; }

.user-main article:first-child .panel-group { height: 634px; padding: 30px; border: 1px solid #dbdbdb; border-top-width: 0; margin-top: 0; clear: both; }

.user-main article:last-child { width: 49%; float: right; margin-right: 0; }

.user-main article:last-child .link-item-box { position: relative; height: 210px; width: 47.95918%; float: left; margin-right: 4.08163%; }

.user-main article:last-child .link-item-box:nth-of-type(2n) { float: right; margin-right: 0; }

.user-main article:last-child .link-item-box:nth-of-type(1) { background: #e6f0c0 url("../../assets/images/bg/link-item-01.png") center 44px no-repeat; }

.user-main article:last-child .link-item-box:nth-of-type(1) .btn-item-more { background: #d2e48e; }

.user-main article:last-child .link-item-box:nth-of-type(2) { background: #d6faff url("../../assets/images/bg/link-item-02.png") center 46px no-repeat; }

.user-main article:last-child .link-item-box:nth-of-type(2) .btn-item-more { background: #b5f6ff; }

.user-main article:last-child .link-item-box:nth-of-type(3) { background: #ede1f5 url("../../assets/images/bg/link-item-03.png") center 49px no-repeat; }

.user-main article:last-child .link-item-box:nth-of-type(3) .btn-item-more { background: #dfc9ed; }

.user-main article:last-child .link-item-box:nth-of-type(4) { background: #ffeb9a url("../../assets/images/bg/link-item-04.png") center 44px no-repeat; }

.user-main article:last-child .link-item-box:nth-of-type(4) .btn-item-more { background: #ffdb49; }

.user-main article:last-child .link-item-box:nth-of-type(5) { background: url("../../assets/images/bg/link-item-05.png") 186px 135px no-repeat; }

.user-main article:last-child .link-item-box:nth-of-type(5) .notices-list { height: 154px; }

.user-main article:last-child .link-item-box:nth-of-type(5) .notices-list .ui-carousel__tablist--wrapper .ui-carousel__toggle--animate { background: #b3b3b3; color: #fff; }

.user-main article:last-child .link-item-box:nth-of-type(5) .notices-list .ui-carousel__tablist--wrapper .ui-carousel__toggle--animate:hover, .user-main article:last-child .link-item-box:nth-of-type(5) .notices-list .ui-carousel__tablist--wrapper .ui-carousel__toggle--animate:focus { background: #777; }

.user-main article:last-child .link-item-box:nth-of-type(5) .notices-list .ui-carousel__tablist--wrapper .ui-carousel__indicators .ui-carousel__tab { background: #b3b3b3; box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3); transition: all 0.2s cubic-bezier(0.01, 0.35, 0, 1.01); }

.user-main article:last-child .link-item-box:nth-of-type(5) .notices-list .ui-carousel__tablist--wrapper .ui-carousel__indicators .ui-carousel__tab:hover, .user-main article:last-child .link-item-box:nth-of-type(5) .notices-list .ui-carousel__tablist--wrapper .ui-carousel__indicators .ui-carousel__tab:focus { background: #777; }

.user-main article:last-child .link-item-box:nth-of-type(5) .notices-list .ui-carousel__tablist--wrapper .ui-carousel__indicators .ui-carousel__tab.active { background: #0065b3; width: 24px; }

.user-main article:last-child .link-item-box:nth-of-type(5) .notices-list .ui-carousel__tablist--wrapper .ui-carousel__indicators .ui-carousel__tab.active:focus { background: #0065b3; }

.user-main article:last-child .link-item-box:nth-of-type(5) .notices-list .ui-carousel__tabpanel-wrapper { width: 222px; height: 154px; }

.user-main article:last-child .link-item-box:nth-of-type(5) .notices-list .ui-carousel__tabpanel-wrapper .ui-carousel__tabpanel { width: 222px; height: 154px; }

.user-main article:last-child .link-item-box:nth-of-type(5) .notices-list .ui-carousel__tabpanel-wrapper .ui-carousel__tabpanel a { text-align: left; }

.user-main article:last-child .link-item-box:nth-of-type(5) .notices-list .ui-carousel__tabpanel-wrapper .ui-carousel__tabpanel a .notice-text { display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 3; -webkit-box-orient: vertical; word-wrap: break-word; padding-top: 12px; clear: both; }

.user-main article:last-child .link-item-box:nth-of-type(5) .notices-list .ui-carousel__tabpanel-wrapper .ui-carousel__tabpanel a .notice-date { display: block; font-weight: bold; color: #666; margin-top: 12px; }

.user-main article:last-child .link-item-box:nth-of-type(6) { background: url("../../assets/images/bg/link-item-06.png") 197px 121px no-repeat; }

.user-main article:last-child .link-item-box:nth-of-type(6) .resource-text { position: relative; display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1; -webkit-box-orient: vertical; word-wrap: break-word; padding-top: 12px; padding-left: 10px; clear: both; }

.user-main article:last-child .link-item-box:nth-of-type(6) .resource-text:before { position: absolute; top: 22px; left: 0; display: block; width: 3px; height: 3px; background: #4d4d4d; content: ""; }

.user-main article:last-child .link-item-box:nth-of-type(6) .resource-date { display: block; font-weight: bold; color: #666; }

.user-main article:last-child .link-item-box:nth-of-type(1), .user-main article:last-child .link-item-box:nth-of-type(2), .user-main article:last-child .link-item-box:nth-of-type(3), .user-main article:last-child .link-item-box:nth-of-type(4) { margin-bottom: 24px; }

.user-main article:last-child .link-item-box:nth-of-type(1) h3, .user-main article:last-child .link-item-box:nth-of-type(2) h3, .user-main article:last-child .link-item-box:nth-of-type(3) h3, .user-main article:last-child .link-item-box:nth-of-type(4) h3 { font-size: 18px; font-weight: normal; color: #333; text-align: center; letter-spacing: -0.04em; margin-top: 147px; }

.user-main article:last-child .link-item-box:nth-of-type(1) .btn-item-more, .user-main article:last-child .link-item-box:nth-of-type(2) .btn-item-more, .user-main article:last-child .link-item-box:nth-of-type(3) .btn-item-more, .user-main article:last-child .link-item-box:nth-of-type(4) .btn-item-more { position: absolute; right: 0; bottom: 0; width: 50px; height: 50px; text-indent: -9999px; }

.user-main article:last-child .link-item-box:nth-of-type(1) .btn-item-more:before, .user-main article:last-child .link-item-box:nth-of-type(2) .btn-item-more:before, .user-main article:last-child .link-item-box:nth-of-type(3) .btn-item-more:before, .user-main article:last-child .link-item-box:nth-of-type(4) .btn-item-more:before { position: absolute; top: 23px; left: 11px; width: 28px; height: 4px; background: #fff; content: ""; }

.user-main article:last-child .link-item-box:nth-of-type(1) .btn-item-more:after, .user-main article:last-child .link-item-box:nth-of-type(2) .btn-item-more:after, .user-main article:last-child .link-item-box:nth-of-type(3) .btn-item-more:after, .user-main article:last-child .link-item-box:nth-of-type(4) .btn-item-more:after { position: absolute; top: 11px; left: 23px; width: 4px; height: 28px; background: #fff; content: ""; }

.user-main article:last-child .link-item-box:nth-of-type(5), .user-main article:last-child .link-item-box:nth-of-type(6) { padding: 26px 30px; background-color: #f0f3f5; }

.user-main article:last-child .link-item-box:nth-of-type(5) h3, .user-main article:last-child .link-item-box:nth-of-type(6) h3 { float: left; font-size: 20px; color: #003a66; }

.user-main article:last-child .link-item-box:nth-of-type(5) .btn-item-more, .user-main article:last-child .link-item-box:nth-of-type(6) .btn-item-more { float: right; font-weight: bold; line-height: 1; border-bottom: 1px solid #4c4c4c; margin-top: 5px; }

.user-main article:last-child .link-item-box:nth-of-type(5) .btn-item-more:after, .user-main article:last-child .link-item-box:nth-of-type(6) .btn-item-more:after { display: inline-block; font-family: 'FontAwesome'; content: ""; font-size: 18px; font-size: 1.8rem; padding-left: 5px; }

.footer-link-banner { background: #f5f8fa; border-top: 1px solid #d9dee2; padding: 24px 0; }

.footer-link-banner .wrap h4 { font-size: 14px; color: #333; line-height: 46px; width: 6.5%; float: left; margin-right: 2%; }

.footer-link-banner .wrap .link-banner-area { position: relative; width: 91.5%; float: right; margin-right: 0; padding: 0 23px; height: 46px; border: 1px solid #dbdbdb; overflow: hidden; }

.footer-link-banner .wrap .link-banner-area .ui-carousel__tabpanel-wrapper { width: 100%; height: 46px; background: #fff; }

.footer-link-banner .wrap .link-banner-area ul { float: left; width: 1054px; overflow: hidden; }

.footer-link-banner .wrap .link-banner-area ul li { float: left; width: 20%; height: 46px; line-height: 46px; text-align: center; border-right: 1px solid #dbdbdb; }

.footer-link-banner .wrap .link-banner-area ul li:last-child { border-right: 0; }

.footer-link-banner .wrap .link-banner-area ul li img { vertical-align: -9px; margin-right: 10px; }

.footer-link-banner .wrap .link-banner-area .ui-carousel__button { position: absolute; top: 0; width: 24px; height: 44px; line-height: 42px; margin-top: 0; background: #fff; }

.footer-link-banner .wrap .link-banner-area .ui-carousel__button.ui-carousel__button--prev { left: 0; border-right: 1px solid #ccc; }

.footer-link-banner .wrap .link-banner-area .ui-carousel__button.ui-carousel__button--prev:before { font-family: 'FontAwesome'; content: ""; font-size: 10px; font-size: 1rem; color: #676767; background: transparent; }

.footer-link-banner .wrap .link-banner-area .ui-carousel__button.ui-carousel__button--next { right: 0; border-left: 1px solid #ccc; }

.footer-link-banner .wrap .link-banner-area .ui-carousel__button.ui-carousel__button--next:before { font-family: 'FontAwesome'; content: ""; font-size: 10px; font-size: 1rem; color: #676767; background: transparent; }

/*# sourceMappingURL=map/uni-main.css.map */
