@charset "UTF-8";
/*! portfolio.css © inyoung, 2017.07.20 */
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, figure, legend, input, textarea, button, p, blockquote, th, td, form, fieldset, blockquote, iframe { margin: 0; padding: 0; -moz-text-size-adjust: none; -ms-text-size-adjust: none; -webkit-text-size-adjust: none; text-size-adjust: none; }

article, aside, canvas, details, embed, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

command, datalist, keygen, mark, meter, progress, rp, rt, ruby, time, wbr { display: inline; }

img { vertical-align: top; border: 0; }

fieldset { border: 0; }

ul, ol, li { list-style: none; }

hr { display: none; border: 0; }

pre { white-space: pre-wrap; }

legend, caption { display: none; clear: both; }

a { color: inherit; cursor: pointer; }

a:link { text-decoration: none; }

a:hover, a:focus, a:active { text-decoration: none; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; word-break: keep-all; }

em, i, address, cite { font-style: normal; font-weight: normal; }

input, textarea, select, button, table { font-size: inherit; font-family: inherit; *font-size: inherit; border: 0; background-color: transparent; }

button, select { cursor: pointer; }

textarea, input, select { -webkit-border-radius: 0; -ms-border-radius: 0; -moz-border-radius: 0; border-radius: 0; border: 0; outline-color: -moz-use-text-color; outline-style: none; outline-width: medium; }

textarea { resize: none; }

label { cursor: pointer; }

table { table-layout: fixed; border-collapse: collapse; border-spacing: 0; }

th, td { border-collapse: collapse; }

progress[value] { appearance: none; -moz-appearance: none; -webkit-appearance: none; display: inline-block; border: none; background-size: auto; }

progress[value][role][aria-valuenow] { appearance: none; -moz-appearance: none; -webkit-appearance: none; display: inline-block; border: none; background-size: auto; }

progress[value][role][aria-valuenow]:after { background-image: none; }

progress[value][role][aria-valuenow]:before { display: table; }

progress[value][role][aria-valuenow] strong { display: none; }

progress[value]::-webkit-progress-value, progress[value]::-webkit-progress-inner-element { display: table; }

progress[value]::-webkit-progress-bar { display: table-cell; }

progress[value]::-moz-progress-bar, progress[value]::-webkit-progress-value { display: table; }

textarea { color: inherit; }

textarea:focus::-webkit-input-placeholder { /* WebKit browsers */ color: transparent; }

textarea:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color: transparent; }

textarea:focus::-moz-placeholder { /* Mozilla Firefox 19+ */ color: transparent; }

textarea:focus:-ms-input-placeholder { /* Internet Explorer 10+ */ color: transparent; }

input[type="reset"], input[type="button"], input[type="submit"] { line-height: normal !important; }

input[type="button"], input[type="text"], input[type="image"], input[type="submit"] { -webkit-appearance: none; -webkit-border-radius: 0; }

input:checked[type="checkbox"] { background-color: #fff; -webkit-appearance: checkbox; }

input { color: inherit; }

input::-webkit-input-placeholder { /* Chrome/Opera/Safari*/ color: inherit; }

input::-moz-placeholder { /* Firefox 19+*/ color: inherit; }

input:-ms-input-placeholder { /* IE 10+*/ color: inherit !important; }

input:-moz-placeholder { /* Firefox 18-*/ color: inherit; }

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill { -webkit-text-fill-color: inherit; -webkit-box-shadow: 0 0 0px 1000px white inset; }

input[type="date"]::-webkit-clear-button { display: none; }

input[type="date"]::-webkit-inner-spin-button { display: none; }

input[type="date"]::-webkit-calendar-picker-indicator { color: #343434; background: #fff; }

input[type="date"] { appearance: none; -webkit-appearance: none; display: inline-block !important; visibility: visible !important; }

input[type="date"], input focus { box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; }

@media print { code[class*="language-"], pre[class*="language-"] { text-shadow: none; }
  html * { color: #000; background: #fff; } }

.portfolio-list, .project-area .project { *zoom: 1; }

.portfolio-list:before, .project-area .project:before, .portfolio-list:after, .project-area .project:after { content: ""; display: table; }

.portfolio-list:after, .project-area .project:after { clear: both; }

body { font-family: "Noto Sans Korean", sans-serif, serif; font-size: 14px; line-height: 1.5; color: #999; height: 100vh; background: -webkit-linear-gradient(left, #25c481, #25b7c4); background: linear-gradient(to right, #25c481, #25b7c4); }

body * { box-sizing: border-box; word-wrap: break-word; }

.portfolio-list { max-width: 1200px; margin-left: auto; margin-right: auto; min-width: 480px; max-width: 1000px; padding: 20px; }

.portfolio-list:after { content: " "; display: block; clear: both; }

.portfolio-list .h1-title { font-family: "Roboto", sans-serif, serif; font-size: 40px; font-weight: 100; color: #fff; text-align: center; margin: 50px 20px; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }

.project-area { padding: 20px; border-radius: 20px; background: rgba(255, 255, 255, 0.5); }

.project-area .h2-title { font-family: "Roboto", sans-serif, serif; font-size: 28px; font-weight: 100; color: rgba(0, 0, 0, 0.3); padding: 0 10px 10px; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5); }

.project-area .project .item { width: 100%; float: left; margin-left: 0; margin-right: 0; height: 380px; margin-bottom: 20px; border-radius: 10px; background: #fff; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }

@media (min-width: 760px) { .project-area .project .item { width: 43.33333%; float: left; }
  .project-area .project .item:nth-child(2n + 1) { margin-left: 0; margin-right: -100%; clear: both; margin-left: 0; }
  .project-area .project .item:nth-child(2n + 2) { margin-left: 56.66667%; margin-right: -100%; clear: none; } }

@media (min-width: 1000px) { .project-area .project .item { width: 27.65957%; float: left; }
  .project-area .project .item:nth-child(3n + 1) { margin-left: 0; margin-right: -100%; clear: both; margin-left: 0; }
  .project-area .project .item:nth-child(3n + 2) { margin-left: 36.17021%; margin-right: -100%; clear: none; }
  .project-area .project .item:nth-child(3n + 3) { margin-left: 72.34043%; margin-right: -100%; clear: none; } }

.project-img { position: relative; height: 180px; overflow: hidden; border-top-left-radius: 8px; border-top-right-radius: 8px; }

.project-img img { width: 100%; float: left; margin-left: 0; margin-right: 0; height: 100%; object-fit: cover; object-position: center; transition: all 1s ease; }

.project-img img:hover { transform: scale(1.2); }

.project-ex { font-size: 14px; padding: 0 20px 20px 20px; letter-spacing: -0.03em; }

.project-ex .h3-title { position: relative; font-size: 20px; height: 80px; letter-spacing: -0.03em; text-align: center; color: #25b7c3; border-bottom: 1px solid #25b7c3; margin-bottom: 18px; }

.project-ex .h3-title span { position: absolute; top: 50%; left: 50%; -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 100%; }

.project-ex > p span { color: #25c482; }

/*# sourceMappingURL=map/portfolio.css.map */
